<ion-view title="Create Event" style="background-color: #33cd5f;">
  <ion-content class="padding"><br>
      <div class="list">
          <label class="item item-input item-stacked-label">
              <span class="input-label" style="color: white;">Event Name</span>
              <input type="text" placeholder="Event Name" ng-model="todo.name" required style="background-color: transparent; color: white;">
          </label>
          <label class="item item-input item-stacked-label">
              <span class="input-label" style="color: white;">Event Description</span>
              <input type="text" placeholder="Event Description" ng-model="todo.disc" required style="background-color: transparent; color: white;" >
          </label>
          <label class="item item-input item-stacked-label">
              <span class="input-label" style="color: white;">Event Location</span>
              <input type="text" placeholder="Event Location" ng-model="todo.locname" required style="background-color: transparent; color: white;">
          </label>
          <label class="item item-input item-stacked-label">
              <span class="input-label" style="color: white;">Event Speakers</span>
              <input type="text" placeholder="Event Speakers" ng-model="todo.spek" required style="background-color: transparent; color: white;">
          </label>
          <!--<label class="item item-input item-floating-label">-->
              <!--<span class="input-label">Event Image</span>-->
              <!--<input type="file" placeholder="Event Image" ng-model="todo.FILE_URI" required>-->
          <!--</label>-->
      </div>

      <ion-button class="button button-block button-stable" ng-click="create()">
          Add
      </ion-button>

  </ion-content>
</ion-view>
