<ion-side-menus >
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <!--Just the menu toggle-->
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>

        </ion-nav-bar>
        <ion-nav-view name="mainContent" animation="slide-right-left"></ion-nav-view>
    </ion-side-menu-content>
  
  <ion-side-menu side="left">
    <header class="bar bar-header bar-balanced">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item  nav-clear menu-close href="#/home/event" >Home</i></ion-item>
        <ion-item nav-clear menu-close href="#/home/gallery">Gallery</ion-item>
        <ion-item nav-clear menu-close href="#/app/create">Create Event</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
