<ion-side-menus >
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable bar-dark">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <!--Just the menu toggle-->
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
                </button>
            </ion-nav-buttons>

        </ion-nav-bar>
        <ion-nav-view name="mainContent" animation="slide-right-left"></ion-nav-view>
    </ion-side-menu-content>
  
  <ion-side-menu side="left">
    <header class="bar bar-header bar-balanced">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header" style="background: url(app/img/menu.jpg);"><br>

        <div class="list padding" style="color:white;">
            <a menu-close class="item item-icon-left" href="#/home/event" style="background-color: transparent;">
                <i class="icon ion-home"></i>
                Home
            </a>
            <a menu-close class="item item-icon-left" href="#/home/gallery" style="background-color: transparent;">
                <i class="icon ion-image"></i>
                Gallery
            </a>
            <a menu-close class="item item-icon-left" href="#/app/create" style="background-color: transparent;">
                <i class="icon ion-ios-compose"></i>
                Create Event
            </a><br><br>
            <a menu-close class="item item-icon-left" href="#/login" style="background-color: transparent;">
                <i class="icon ion-log-out"></i>
                Logout
            </a>
        </div>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
